<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.natsume.mapper.CommissionMapper">
  <resultMap id="BaseResultMap" type="com.natsume.entity.Commission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="level" jdbcType="BIT" property="level" />
    <result column="commission" jdbcType="DECIMAL" property="commission" />
    <result column="achievement" jdbcType="DECIMAL" property="achievement" />
    <result column="sub_achievement" jdbcType="DECIMAL" property="subAchievement" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="start_pay_time" jdbcType="TIMESTAMP" property="startPayTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, level, commission, achievement, sub_achievement, status, start_pay_time, 
    pay_time, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_commission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_commission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.natsume.entity.Commission">
    insert into tb_commission (id, user_id, level, 
      commission, achievement, sub_achievement, 
      status, start_pay_time, pay_time, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{level,jdbcType=BIT}, 
      #{commission,jdbcType=DECIMAL}, #{achievement,jdbcType=DECIMAL}, #{subAchievement,jdbcType=DECIMAL}, 
      #{status,jdbcType=BIT}, #{startPayTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.natsume.entity.Commission">
    insert into tb_commission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="commission != null">
        commission,
      </if>
      <if test="achievement != null">
        achievement,
      </if>
      <if test="subAchievement != null">
        sub_achievement,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="startPayTime != null">
        start_pay_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=BIT},
      </if>
      <if test="commission != null">
        #{commission,jdbcType=DECIMAL},
      </if>
      <if test="achievement != null">
        #{achievement,jdbcType=DECIMAL},
      </if>
      <if test="subAchievement != null">
        #{subAchievement,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="startPayTime != null">
        #{startPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.natsume.entity.Commission">
    update tb_commission
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=BIT},
      </if>
      <if test="commission != null">
        commission = #{commission,jdbcType=DECIMAL},
      </if>
      <if test="achievement != null">
        achievement = #{achievement,jdbcType=DECIMAL},
      </if>
      <if test="subAchievement != null">
        sub_achievement = #{subAchievement,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="startPayTime != null">
        start_pay_time = #{startPayTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.natsume.entity.Commission">
    update tb_commission
    set user_id = #{userId,jdbcType=INTEGER},
      level = #{level,jdbcType=BIT},
      commission = #{commission,jdbcType=DECIMAL},
      achievement = #{achievement,jdbcType=DECIMAL},
      sub_achievement = #{subAchievement,jdbcType=DECIMAL},
      status = #{status,jdbcType=BIT},
      start_pay_time = #{startPayTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>